
<ngx-spinner bdColor="rgb(63, 81, 181)" color="white"
  template="<div style='font-size:20px;margin-top:10px;color:white;'><img src='assets/white.png' class='mr-2'>TaskManager
  </div><div class='text-center'><img src='assets/loader.gif' style='width:80px;height:80px;margin-left:50px;margin-top: -15px;'></div>"></ngx-spinner>

<div *ngIf="!hide">
<div style="width: 100%;">
  <mat-toolbar >
   <div class="d-flex justify-content-between w-100">
     <div>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" *ngIf="show">
        <i class="fa fa-bars" aria-hidden="true" (click)="sidenav.toggle()"></i>
      </button>
     </div>
     <div><span>Task Controls</span></div>
     <div class="pr-2"><span class="font-small">My Tasks : {{this.task_service.personal$ |async}} | Team Tasks : {{this.task_service.team$ |async}}</span></div>
   </div>
  </mat-toolbar>
  </div>
  <div style="width: 100%;">
<mat-sidenav-container >
  <mat-sidenav #sidenav [mode]="mode" [opened]="open" fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" (click)="open?'':sidenav.toggle()">Home</a>
      <a mat-list-item [routerLink]="'/task'" (click)="open?'':sidenav.toggle()">Task</a>
      <a mat-list-item [routerLink]="'/task-scheduled'" (click)="open?'':sidenav.toggle()">Task Scheduled</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: inherit; position: fixed;"  [class.res] = "open == false">
    <div>
       <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
</div>