mat-sidenav-container{
    width: 100%;
    height: 100%;
}
mat-sidenav-container mat-sidenav{
  width: 200px;
  height: 100%;
}
 mat-sidenav-content{
    min-height:700px !important;
    width: calc(100% - 200px);
}
.res{
    min-height:700px !important;
    width:100%;
}

mat-toolbar{
    background-color :rgb(63, 81, 181);
    color: white;
}
.font-small{
    font-size: 14px;
}
button{
    outline: none!important;
}
button:hover,:focus,:active{
    outline: none!important;
}
